* {
    margin: 0;
    padding: 0;
}

:root {
    --mint: #caf7e3;
    --light-mint: #edffec;
    --light-pink: #f6dfeb;
    --deep-pink: #e4bad4;
  }
  

body {
    background: var(--mint);
}

.container {
    width: 800px;
    height: 1000px;
    margin: auto;
    background: var(--light-mint);
    box-sizing: border-box;
}

.input-buttons-block {
    width: 100%;
    background: var(--light-pink);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right:150px;
    padding-left: 150px;
}

.recommendation-buttons {
    display: flex;
    flex-direction: column;
    height: 65px; 
    justify-content: center;
}

.input {
    height: 30px;
    width: 200px;
    box-sizing: border-box;
    padding-left: 15px;
    background: var(--mint);
    border: 1px solid var(--light-mint);
    font-size: 15px;
}
.age-input {
    display: none;
}


.input::placeholder {
    color: #021a0e;
    opacity: 0.5;
    font-size: 15px;
    font-weight: lighter;
    
}

.user-btn {
    height: 30px;
    text-align: center;
    width: 250px;
    border: 1px solid var(--mint);
    background: var(--light-mint);
}

.ratings-container {
    width: 100%;
    height: 350px;
    background: var(--deep-pink);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.rate-btn {
    width: 100px;
    height: 30px;
    border: none;
    display: inline-block;
    margin: auto;
    background: var(--mint);
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rating {
    width: 700px;
    margin: auto;
    height: 60px;
    background: var(--light-mint);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid var(--mint);
}

.rating-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.evaluation-input {
    height: 15px;
    width: 15px;
    text-align: center;
    background: var(--mint);
}

.rating-name {
    width: 300px;
}

.hidden {
    display: none;  
}